.set-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-row-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
}

.left-input {
    border: none;
    outline: none;
    border-bottom: 1px #666 solid;
    text-align: center;
    color: #333;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    vertical-align: middle;
    width: 100px;
}

.set-row-right-btn {
    width: 100px;
    text-align: center;
    line-height: 40px;
    background: #3775f6;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}

.set-row-right-btn:active {
    transform: scale(0.95);
    transition: all 0.1s;
}